.ProjetCards {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.Entete {
    display: flex;
    justify-content: space-between;
}

.fleches {
    margin-top: auto;
    margin-bottom: 10px;
}