.ProjetCards {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.Entete {
    display: flex;
    justify-content: space-between;
}

.fleches {
    margin-top: auto;
    margin-bottom: 10px;
}

.swiper-button-prev-1:hover,
.swiper-button-next-1:hover,
.swiper-button-prev-2:hover,
.swiper-button-next-2:hover {
    cursor: pointer;
}

.swiper-button-disabled {
    color: rgb(128, 128, 128);
    cursor: auto !important;
}