body {
    background-position: top left -20% !important
}

.login_container {
    display: flex;
    min-height: 100vh
}

.login_container .main_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.login_container .logo_container {
    background-color: #0293fc;
    color: #fff;
    font-family: myFont
}

@media screen and (max-width:768px) {
    .login_container .logo_container {
        display: none
    }
}

.login_container .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%
}

.login_container .logo img {
    width: 30%
}

.login_container .logo p {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    font-style: normal;
    line-height: normal
}

.login_container .icons {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px
}

.login_container .icons .common {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    flex: 50% 1
}

.login_container .icons .common img {
    width: 40px;
    height: 40px
}

.login_container .icons .common p {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    line-height: normal
}

.login_container .css-cuefkz-MuiContainer-root h1 {
    text-align: center;
    color: #000;
    font-size: 36px;
    font-style: normal;
    line-height: normal
}

.login_container .css-w5hc3h-MuiButtonGroup-root .auth_button {
    display: flex;
    padding: 8px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-style: normal;
    line-height: 28px
}

.login_container .css-1fom3nx {
    padding: 4px
}

.login_container .form_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 5%;
    padding: 32px;
    box-shadow: 5px 4px 20px 0 rgba(0, 0, 0, .25);
    border-radius: 12px
}

.login_container .form_container .line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%
}

.login_container .form_container .row {
    display: flex;
    flex-direction: column;
    width: 49%
}

.login_container .form_container .full {
    width: 100% !important
}

.login_container .form_container input {
    border-radius: 5px;
    background: #eceeee;
    border: none;
    justify-content: center;
    align-items: stretch;
    border-radius: .375rem;
    padding: 12px
}

.login_container .form_container input::-moz-placeholder {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #435254
}

.login_container .form_container input::placeholder {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #435254
}

.login_container .auth_button,
.login_container .login_button {
    font-size: 16px;
    color: #fff;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    border-radius: 12px;
    background: #0293fc;
    border: none;
    align-self: center;
    font-family: myFont;
    cursor: pointer
}