.teamPage {
    margin: 5% 100px 20px 50px
}

.teamPage .header {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    align-items: center
}

.teamPage .header h1 {
    padding: 0;
    margin: 0
}

.teamPage hr {
    width: 20%;
    border: 1px solid #0293fc
}

.teamPage .teams_container {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    gap: 20px
}

.teamPage .team_modal {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsla(0, 0%, 67%, .5);
    display: flex;
    justify-content: center;
    align-items: center
}

.teamPage .team_modal .team_main_modal {
    min-width: 40%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 4px 20px 5px rgba(0, 0, 0, .25);
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 80%;
    overflow: scroll;
    padding: 50px;
    position: relative
}

.teamPage .team_modal .team_main_modal h1,
.teamPage .team_modal .team_main_modal h2,
.teamPage .team_modal .team_main_modal h3,
.teamPage .team_modal .team_main_modal p {
    margin: 0;
    padding: 0
}

.teamPage .team_modal .team_main_modal h1 {
    font-size: 28px
}

.teamPage .team_modal .team_main_modal img {
    cursor: pointer;
    filter: invert(1);
    position: absolute;
    right: 2%;
    top: 2%
}

.card_team {
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    overflow: hidden;
    width: 200px;
    text-align: center;
    cursor: pointer
}

.card-header {
    position: relative;
    height: 80px;
    border-radius: 15px 15px 0 0
}

.card-header img.avatar {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #fff;
    -o-object-fit: cover;
    object-fit: cover
}

.card-body {
    padding: 40px 20px 20px
}

.team-name {
    font-size: 18px !important;
    font-weight: 700;
    color: #333
}

.role {
    color: gray;
    margin: 5px 0
}

.card-footer {
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 1px solid #eee;
    font-size: 14px
}

.card-footer,
.team-info {
    display: flex;
    align-items: center
}

.team-info .icon {
    margin-right: 5px
}

.actions .icon {
    margin-left: 10px;
    cursor: pointer
}

.yellow {
    background-color: #f4c200
}

.purple {
    background-color: #8000ff
}

.blue {
    background-color: #0af
}

.team_modal_card {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsla(0, 0%, 67%, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 400
}

.team_modal_card .team_main_modal_card {
    min-width: 40%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 4px 20px 5px rgba(0, 0, 0, .25);
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 80%;
    overflow: scroll;
    padding: 50px;
    position: relative
}

.team_modal_card .team_main_modal_card h1,
.team_modal_card .team_main_modal_card h2,
.team_modal_card .team_main_modal_card h3,
.team_modal_card .team_main_modal_card p {
    margin: 0;
    padding: 0
}

.team_modal_card .team_main_modal_card h1 {
    font-size: 28px
}

.team_modal_card .team_main_modal_card .cross {
    cursor: pointer;
    filter: invert(1);
    position: absolute;
    right: 2%;
    top: 10%
}

.team_modal_card .team_main_modal_card .team_main_modal_content {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 50px
}

.team_modal_card .team_main_modal_card .team_main_modal_content .image_container .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #0af;
    -o-object-fit: cover;
    object-fit: cover
}

.team_modal_card .team_main_modal_card .team_main_modal_content .right_modal_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 15px
}

.team_modal_card .team_main_modal_card .team_main_modal_content .right_modal_container input {
    border-radius: 0;
    font-family: myFont;
    font-size: 18px;
    font-weight: semi-bold;
    border: none;
    border-bottom: 1px solid #0af;
    width: 100%
}

.team_modal_card .team_main_modal_card .team_main_modal_content .right_modal_container input:focus {
    outline: none
}

.team_modal_card .team_main_modal_card .team_main_modal_content .right_modal_container button {
    border: none;
    background-color: #0293fc;
    padding: 5px;
    width: 30%;
    border-radius: 15px;
    color: #fff;
    font-family: myFont;
    transition: all .35s ease-in-out;
    cursor: pointer;
    align-self: center;
    margin-top: 10px
}

.team_modal_card .team_main_modal_card .team_main_modal_content .right_modal_container button:hover {
    transform: translateY(-10px)
}

.team_modal_card .team_main_modal_card .team_main_modal_content .right_modal_container .user_container {
    display: flex;
    flex-direction: column;
    gap: 30px
}

.team_modal_card .team_main_modal_card .team_main_modal_content .right_modal_container .user_container .one_user {
    display: flex;
    gap: 10px
}

.team_modal_card .team_main_modal_card .team_main_modal_content .right_modal_container .user_container .one_user img {
    height: 12px;
    width: 12px
}

.team_modal_card .team_main_modal_card .team_main_modal_content .right_modal_container .user_container .one_user p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px
}

.team_modal_card .team_main_modal_card .team_main_modal_content .right_modal_container .user_container .one_user .bin_img {
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: all .35s ease-in-out
}

.team_modal_card .team_main_modal_card .team_main_modal_content .right_modal_container .user_container .one_user .bin_img:hover {
    transform: translateY(-10px)
}

.team_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 15px
}

.team_form .next_btn {
    margin-top: 25px;
    border: none;
    background-color: #0293fc;
    padding: 15px;
    width: 30%;
    border-radius: 15px;
    color: #fff;
    font-family: myFont;
    transition: all .35s ease-in-out;
    cursor: pointer
}

.team_form .next_btn:hover {
    transform: translateY(-10px);
    background-color: #fff;
    color: #0293fc;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .102)
}

.team_form input {
    border-radius: 5px;
    border: none;
    background-color: #e5e7eb !important;
    padding: 10px;
    border-radius: 5px !important
}

.team_form input,
.team_form textarea {
    background-color: transparent;
    color: #000 !important;
    outline: none
}

.team_form input::-moz-placeholder {
    color: #000
}

.team_form input::placeholder {
    color: #000
}

.team_form textarea::-moz-placeholder {
    font-family: myFont;
    color: #fff
}

.team_form input,
.team_form textarea::placeholder {
    font-family: myFont;
    color: #fff
}

.team_form input,
.team_form textarea:focus {
    color: #000 !important
}

.team_form .same_line {
    display: flex;
    gap: 30px
}

.team_form .same_line .avatar_input {
    background-color: #fff !important
}

.team_form .second_line,
.team_form .second_line input {
    width: 100%
}