body {
  margin: 0;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.accent {
  height: 295px;
}

.profile-photo {
  padding: 6px;
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 50%;
  margin: -240px auto 0;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.44);
  position: relative;
}

.profile-photo img {
  width: 100%;
  border-radius: 50%;
}

.inner {
  background-color: white;
  border: 1px solid #0293FC;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner:hover {
  background-color: #0293FC;
  border: 1px solid white;
}

form {
  margin: 0 auto;
  display: block;
  overflow: hidden;
  max-width: 750px;
  padding: 0 52px 32px;
}

label,
input,
textarea {
  width: 100%;
  display: block;
}

label {
  font-size: 25px;
  margin-top: 24px;
}

input,
textarea {
  border: none;
  border-radius: 5px;
  background-color: #ECEEEE;
  color: #435254;
  padding: 10px;
}

textarea {
  height: 228px;
  resize: vertical;
}

.textField {
  color: #435254;
  display: flex;
  border: none;
  justify-content: center;
  align-items: stretch;
  background-color: #eceeee;
}

.boxAccount {
  display: "flex";
  flex-direction: "column";
  flex-grow: 1;
}

.cta-primary {
  float: right;
  height: 40px;
  padding: 0 20px;
  margin-top: 32px;
  position: relative;
  border-radius: 10px;
  color: white;
  background-color: #0293fc;
}

.cta-primary:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.cta-primary:hover {
  background-color: #0293fc;
  cursor: pointer;
}