.MuiGrid2-container {
    min-height: 100vh !important;
}

body {
    background-image: url("/assets/bg_logo.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 40%;
}

.reqLoad {
    opacity: 0.5;
    position: fixed;
    background-color: #0293fc;
    top: 5%;
    right: 5%;
    min-height: 5%;
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    gap: 10px;

    p {
        margin: 0;
        padding: 0;
    }
}

.reqLoad:hover {
    animation: fade-in 0.5s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}