.MuiGrid2-container {
	min-height: 100vh !important;
}

body {
	background-image: url('/assets/bg_logo.png');
	background-repeat: no-repeat;
	background-position-x: right;
	background-size: 40%;
}

.__className_834f5e {
	@media (max-width: 550px) {
		margin: 0 16px;
	}
	@media (max-width: 390px) {
		margin: 0;
		width: 50vh;
	}
}
