.step2form {
	width: 100%;

	.wrapperform {
		border-radius: 15px;
		padding: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 30px;

		h1,
		p {
			margin: 0;
			padding: 0;
		}

		h1:hover {
			transition: all 350ms ease-in-out;
			color: #0293fc;
		}

		.line {
			display: flex;
			gap: 50px;

			input,
			textarea,
			select {
				border: none;
				border-radius: 5px;
				background-color: #eceeee;
				color: #887575;
				padding: 10px;
				transition: all 350ms ease-in-out;
				outline: none;
				box-shadow: 0px 2px 8px 0px #0000001a;
			}

			input,
			textarea::placeholder {
				font-family: 'myFont';
			}

			input:focus,
			textarea:focus,
			select:focus {
				color: #0293fc !important;
				outline: none !important;
				border-radius: 5px;
			}
		}

		select {
			font-family: 'myFont';
		}

		button {
			width: 20%;
			cursor: pointer;
			padding: 15px 10px;
			border-radius: 15px;
			font-size: 16px;
			border: none;
			font-family: 'myFont';
			background-color: #0293fc;
			color: white;
			transition: all 350ms ease-in-out;
		}

		button:disabled {
			background-color: #ccc;
			color: #666;
			cursor: not-allowed;
		}

		button:hover:enabled {
			transform: translateY(-10px);
			background-color: white;
			color: #0293fc;
			box-shadow: 0px 2px 8px 0px #0000001a;
		}
	}
}
