.calendar_component {
	justify-content: center;
	align-items: center;
	// padding: 16px;
	width: 100%;

	.calendarBox {
		border-radius: 20px;
		box-shadow: 5px 4px 20px 5px rgba(0, 0, 0, 0.25);
		padding: 20px;
		background-color: #ffffff;
		width: 100%;
		min-width: 300px;
		font-family: 'myFont';
	}

	.react-calendar {
		font-family: 'myFont';
		width: 100%;
		background-color: #fff;
		padding-right: 45px;
		padding-left: 45px;
		padding-top: 20px;
	}

	.highlight {
		color: white;
	}

	.highlight-start {
		color: white;
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
	}

	.highlight-end {
		color: white;
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
	}

	.react-calendar {
		border: none;
		box-shadow: none;
	}

	.react-calendar__navigation {
		justify-content: center;
		align-items: center;
		font-size: 20px !important;
	}

	.react-calendar__navigation__arrow {
		font-size: 40px;
	}

	.react-calendar__navigation__label {
		width: 150px;
		flex-grow: 0 !important;
		text-transform: capitalize;
		font-family: 'myFont';
	}

	.react-calendar__tile--now {
		background: #e6e6e6;
	}

	.texte_calendar {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin: 10px;
	}

	.react-calendar__month-view__weekdays {
		margin: 10px 0px;
		color: #000;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		font-family: 'myFont';
		text-transform: capitalize;
	}

	.react-calendar__month-view__days {
		gap: 10px 0px;
	}

	.react-calendar__month-view__weekdays__weekday abbr {
		text-decoration: none;
	}

	.react-calendar__navigation__label {
		color: #000;
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.circlemini {
		width: 20px;
		height: 20px;
		border-radius: 50px;
	}

	.titre_calendar {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		padding-right: 45px;
		padding-left: 45px;

		h2 {
			font-size: 16px !important;
		}
	}

	.flex_align {
		display: flex;
		flex-direction: row;
		gap: 10px;
		padding-right: 45px;
		padding-left: 45px;
		font-size: 14px;
	}

	.planning-title {
		margin-bottom: 16px !important;
		width: 100%;
	}

	hr {
		margin-top: 32px;
		width: 78%;
		border: 1px solid black;
		border-radius: 100%;
		background-color: black;
		margin-bottom: 0px;
	}

	.color_FB2C39 {
		background-color: #fb2c39;
	}
	.color_8BC729 {
		background-color: #8bc729;
	}
	.color_FAC602 {
		background-color: #fac602;
	}
	.color_8129C7 {
		background-color: #8129c7;
	}
	.color_0A122A {
		background-color: #0a122a;
	}
	.color_698F3F {
		background-color: #698f3f;
	}
	.color_074F57 {
		background-color: #074f57;
	}
	.color_9ECE9A {
		background-color: #9ece9a;
	}
	.color_9AD1D4 {
		background-color: #9ad1d4;
	}
	.color_CCDBDC {
		background-color: #ccdbdc;
	}
	.color_0293FC {
		background-color: #0293fc;
	}
}
