.box {
    display: flex;
    gap: 24px;
    flex-direction: column;
    padding: 32px;
    width: 70%;
    margin: auto;
}

.input_form,
.input_date {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.input_form,
button,
title {
    margin: auto;
    width: 80%;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.box_date {
    display: flex;
    margin: auto;
    width: 80%;
}

.input_date {
    margin: auto;
    width: 30%;
}

.title {
    text-align: center;
}

select,
textarea,
input {
    border: none;
    border-radius: 5px;
    background-color: #eceeee;
    color: #435254;
    padding: 10px;
}

.button {
    border-radius: 12px;
    border: none;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #0293FC;
    color: #FFF;
    height: 10%;
    width: 30%;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}