.ProjetCards {
	display: flex;
	flex-direction: row;
	margin: 20px;
}

.projetcard {
	cursor: pointer;
}

.TitleProjetCards {
	display: flex;
	gap: 10px;
}

.Entete {
	display: flex;
	justify-content: space-between;
}

.entetedernierticket {
	display: flex;
	justify-content: space-between;
	flex-direction: row;

	h2 {
		margin: 0;
	}
}

.fleches {
	margin-top: auto;
	margin-bottom: 10px;
}

.swiper-button-prev-1:hover,
.swiper-button-next-1:hover,
.swiper-button-prev-2:hover,
.swiper-button-next-2:hover {
	cursor: pointer;
}

.swiper-button-disabled {
	color: rgb(128, 128, 128);
	cursor: auto !important;
}

.right_container {
	margin-top: 12%;
	margin-left: 100px;

	@media (max-width: 1024px) {
		margin: 10% 25px;
	}
	@media (max-width: 660px) {
		margin: 0px 50px;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}
	@media (max-width: 550px) {
		margin: 0;
		padding-top: 32px;
	}

	.Presentation {
		margin-bottom: 20px;
		h1 {
			@media (max-width: 550px) {
				margin-left: 16px;
			}
		}
	}

	.Entete {
		display: flex;
		justify-content: space-between;
		padding-right: 30px;
		@media (max-width: 550px) {
			margin-left: 16px;
		}
	}

	.swiper-horizontal {
		// padding-left: 20px;
		// margin-left: -20px;
		padding-right: 30px;
		padding-left: 16px;

		@media (min-width: 550px) {
			margin-left: -16px;
		}
	}

	.swiper-wrapper {
		margin-top: 32px;
		margin-bottom: 50px;
		overflow: visible !important;
	}

	h1 {
		font-size: 36px;
		margin: 0;
	}

	h2 {
		font-size: 24px;
		margin: 0;
	}

	/* TODO: Trouver un nom plus explicite */
	.BlocDouble {
		display: flex;
		flex-direction: row;
		gap: 10%;
		margin-top: 30px;
		height: 100%;
		// align-items: center;

		// @media (max-width: 1280px) {
		// 	gap: 1%;
		// }
		@media (max-width: 1080px) {
			gap: 10%;
		}
		@media (max-width: 920px) {
			gap: 20%;
		}
		@media (max-width: 860px) {
			gap: 25%;
		}
		@media (max-width: 720px) {
			gap: 30%;
		}
		@media (max-width: 660px) {
			// gap: 40%;
			flex-direction: column;
		}

		width: 100%;

		.calendar_container {
			width: 35%;
			height: 110% !important;

			@media (max-width: 660px) {
				width: 70%;
				margin-bottom: 24px;
			}
			@media (max-width: 550px) {
				width: 90%;
			}
		}

		.DernierTicket {
			display: flex;
			flex-direction: column;
			gap: 25px;
			max-height: 40% !important;
			width: 50%;
			min-width: 250px;
			max-width: 550px;
			@media (max-width: 660px) {
				margin-bottom: 24px;
			}
			.container h2,p {
				margin: 0;
			}
		}
	}

	.second_line {
		margin-bottom: 30px;
		margin-top: 50px;
	}
	.MyTeam {
		width: 100%;
	}
}

.no_project {
	width: 90%;
	height: 75vh;
	border-radius: 15px;
	background-color: #0294fc77;
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10%;
	color: white;
	margin-top: -5%;

	h2 {
		text-align: center;
		width: 33%;
		letter-spacing: 4px;
	}

	p {
		text-align: center;
		letter-spacing: 4px;
	}

	.create_project {
		border: none;
		border-radius: 15px;
		background-color: #0294fc;
		color: white;
		padding: 10px 15px;
		cursor: pointer;
		font-size: 25px;
		font-weight: bold;
		letter-spacing: 4px;
		transition: all 350ms ease-in-out;
	}

	.create_project:hover {
		transform: translateY(-10px);
	}
}

.stat {
	display: flex;
	flex-direction: column;
	gap: 30px;

	canvas {
		height: 300px !important;
		max-width: 600px !important;
		@media (max-width: 660px) {
			max-width: 600px !important;
			max-height: 200px !important;
		}
	}

	.graph_div {
		display: flex;
		flex-flow: wrap;
		// justify-content: space-evenly;
		align-items: center;
		gap: 50px;
		margin-bottom: 50px;

		@media (max-width: 660px) {
			flex-direction: column;
			margin-bottom: 24px;
		}
	}
	.text_stat {
		display: flex;
		justify-content: space-evenly;
		gap: 25px;
		text-align: center;
		flex-direction: row;
		// @media (min-width: 2537px) {
		// 	flex-direction: column;
		// }
		// @media (min-width: 1680px) and (max-width: 1773px) {
		// 	flex-direction: column;
		// }
		// @media (min-width: 1356px) and (max-width: 1680px) {
		// 	flex-direction: column;
		// }
		@media (max-width: 660px) {
			flex-direction: column;
		}
		.stat_container {
			background-color: white;
			border-radius: 20px;
			box-shadow: 5px 4px 20px 5px rgba(0, 0, 0, 0.25);
			display: flex;
			flex-direction: column;
			gap: 5px;
			padding: 16px;
			justify-content: center;
			transition: all 350ms ease-in-out;
			min-width: 275px;
			max-width: 450px;
			text-align: center;
			p {
				margin: 0;
			}
			h3 {
				margin: 0;
			}
		}
	}
	.stat_container_1 {
		@media (min-width: 1680px) {
			order: 3;
		}
		@media (min-width: 1356px) and (max-width: 1679px) {
			order: 4;
		}
		@media (min-width: 1337px) and (max-width: 1356px) and (not (width: 1356px)) {
			order: 4;
			width: 100%;
		}
		@media (min-width: 1280px) and (max-width: 1337px) and (not (width: 1337px)) {
			order: 4;
		}
		@media (min-width: 1114px) and (max-width: 1280px) and (not (width: 1280px)) {
			order: 4;
			width: 100%;
		}
		@media (min-width: 660px) and (max-width: 1114px) and (not (width: 1114px)) {
			order: 4;
		}
		@media (max-width: 660px) {
			order: 4;
		}
	}
}

@media (max-width: 660px) {
	.mobile {
		margin: 0 16px;
	}
}
