.ProjetCards {
	display: flex;
	flex-direction: row;
	margin: 20px;
}

.projetcard {
	cursor: pointer;
}

.TitleProjetCards {
	display: flex;
	gap: 10px;
}

.Entete {
	display: flex;
	justify-content: space-between;
}

.DernierTicket {
	display: flex;
	flex-direction: column;
	gap: 10px;
	min-width: 300px;
	h2 {
		margin-top: 16px !important;
	}
}

.entetedernierticket {
	display: flex;
	justify-content: space-between;
	flex-direction: row;

	h2 {
		margin: 0;
	}
}

.fleches {
	margin-top: auto;
	margin-bottom: 10px;
}

.swiper-button-prev-1:hover,
.swiper-button-next-1:hover,
.swiper-button-prev-2:hover,
.swiper-button-next-2:hover {
	cursor: pointer;
}

.swiper-button-disabled {
	color: rgb(128, 128, 128);
	cursor: auto !important;
}

.right_container {
	margin-top: 12%;
	margin-left: 100px;
	width: 100% !important;

	@media (max-width: 1024px) {
		margin: 10% 25px;
	}
	@media (max-width: 660px) {
		margin: 0px 50px;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}
	@media (max-width: 550px) {
		margin: 0;
		padding-top: 32px;
	}

	.Presentation {
		margin-bottom: 20px;
		h1 {
			@media (max-width: 550px) {
				margin-left: 16px;
			}
		}
	}

	.Entete {
		display: flex;
		justify-content: space-between;
		padding-right: 30px;
		@media (max-width: 550px) {
			margin-left: 16px;
		}
	}

	.swiper-horizontal {
		// padding-left: 20px;
		// margin-left: -20px;
		padding-right: 30px;
		padding-left: 16px;

		@media (min-width: 550px) {
			margin-left: -16px;
		}
	}

	.swiper-wrapper {
		margin-top: 32px;
		margin-bottom: 50px;
		overflow: visible !important;
	}

	h1 {
		font-size: 36px;
		margin: 0;
	}

	h2 {
		font-size: 24px;
		margin: 0;
	}

	/* TODO: Trouver un nom plus explicite */
	.BlocDouble {
		display: flex;
		flex-direction: row;
		gap: 10%;
		// align-items: center;

		// @media (max-width: 1280px) {
		// 	gap: 1%;
		// }
		@media (max-width: 1080px) {
			gap: 10%;
		}
		@media (max-width: 920px) {
			gap: 20%;
		}
		@media (max-width: 860px) {
			gap: 25%;
		}
		@media (max-width: 720px) {
			gap: 30%;
		}
		@media (max-width: 660px) {
			// gap: 40%;
			flex-direction: column;
		}

		width: 100%;

		.calendar_container {
			width: 35%;

			@media (max-width: 660px) {
				width: 70%;
				margin-bottom: 24px;
			}
			@media (max-width: 550px) {
				width: 90%;
			}
		}

		.DernierTicket {
			// width: 100% !important;
			// padding: 0 25px;
			display: flex;
			flex-direction: column;
			gap: 25px;
			@media (max-width: 660px) {
				margin-bottom: 24px;
			}
		}
	}

	.MyTeam {
		margin-top: 50px;
	}
}

.no_project {
	width: 90%;
	height: 75vh;
	border-radius: 15px;
	background-color: #0294fc77;
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10%;
	color: white;
	margin-top: -5%;

	h2 {
		text-align: center;
		width: 33%;
		letter-spacing: 4px;
	}

	p {
		text-align: center;
		letter-spacing: 4px;
	}

	.create_project {
		border: none;
		border-radius: 15px;
		background-color: #0294fc;
		color: white;
		padding: 10px 15px;
		cursor: pointer;
		font-size: 25px;
		font-weight: bold;
		letter-spacing: 4px;
		transition: all 350ms ease-in-out;
	}

	.create_project:hover {
		transform: translateY(-10px);
	}
}

.stat {
	display: flex;
	flex-direction: column;

	canvas {
		height: 300px !important;
		max-width: 600px !important;
		@media (max-width: 660px) {
			max-width: 600px !important;
			max-height: 200px !important;
		}
	}

	.graph_div {
		display: flex;
		align-items: center;
		gap: 50px;
		@media (min-width: 1680px) {
			gap: 250px;
		}
		@media (max-width: 768px) {
			flex-direction: column;
			margin-bottom: 24px;
		}
	}
}

.mobile {
	margin: 0 16px;
}
