.MuiGrid2-container {
    min-height: 100vh !important;
}

body {
    background-image: url("/assets/bg_logo.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 40%;
}